.stats {
  width: 30vw;
  height: 38vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-weight: 800;
  margin: 1vw 1vw 1vh 1vw;
}

.stats .hp {
  color: red;
}
.stats .ap {
  color: rgb(255, 204, 1);
}
.stats .defense {
  color: blue;
}
.stats .speed {
  color: green;
}

.stats div {
  height: 9vh;
  display: flex;
  width: 28vw;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.stats div label {
  font-size: 2vh;
  font-weight: 800;
}
.weightAndHeight {
  width: 32vw;
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.weightAndHeight div {
  height: 9vh;
  width: 28vw;
  font-weight: 800;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 8vh;
}
.weightAndHeight label {
  font-size: 4vw;
  color: #3c3838;
}
.weightAndHeight input {
  font-weight: 800;
  background: #6a6a6a00;
  border-style: none none none none;
  width: 9vh;
  height: 4vh;
  font-size: 4vh;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
