.nameAndImageInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 34vh;
  margin: 1vw 1vw 1vh 1vw;
  justify-content: center;
}

.nameAndImageInput input {
  width: 30vw;
  border-bottom-color: #8367ff;
  border-bottom-width: 5px;
  border-style: none none groove none;
  height: 4vh;
  font-size: 3vh;
}
.nameAndImageInput img {
  width: 26vh;
}
.nameAndImageInput span {
  width: 30vw;
  height: 2vh;
  color: red;
  font-size: 2vh;
  text-align-last: start;
}

.hiden {
  visibility: hidden;
}
.show {
  visibility: visible;
}
