.nameAndImageInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

.nameAndImageInput input {
  width: 100%;
  border-bottom-color: red;
  border-bottom-width: 5px;
  border-style: none none groove none;
  height: 4vh;
  font-size: 4vh;
}
.nameAndImageInput img {
  width: 20vh;
}

@media only screen and (max-width: 530px) {
  .nameAndImageInput input {
    height: 2vh;
  font-size: 2vh;
  }
  .nameAndImageInput img {
    width: 15vh;
  }
}