.conteiner {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80vw;
  height: 45vh;
  background-image: linear-gradient(0deg, #17720b, #37c91582 50%);
  border-radius: 50px 0px 50px 0px;
  overflow: hidden;
  text-decoration: none;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  height: 5vh;
}
.close button {
  cursor: pointer;
  border-radius: 0% 0% 0% 50%;
  background: #ffffffbf;
  color: red;
  font-weight: 800;
  border-color: #ff0000cc;
  width: 5vw;
  height: 5vh;
}
.pokemon .err {
  font-style: italic;
  font-weight: 900;
}
.pokemon {
  width: 80vw;
  height: 40vh;
  color: white;
  border-radius: 30px 0px 30px 0px;
  font-size: 8vh;
  text-shadow: 2px 7px 14px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon img {
  width: 40vw;
  height: 40vh;
}
.pokemon .cardDescription {
  width: 40vw;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.pokemon .cardDescription span {
  width: 40vw;
  height: 10vh;
  color: #fff;
  font-size: 100%;
  font-weight: 800;
  text-shadow: 1px 1px 2px #000;
}
.pokemon .cardDescription div {
  width: 40vw;
  height: 15vh;
  display: flex;
  line-height: center;
  align-items: center;
  justify-content: center;
}
