.controllers {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: flex-start;
}

.controllersType {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1vh;
  padding: 2vh;
}

.controllersCreated {
  display: contents;
  padding: 5vh;
  margin: 2vh;
}

.controllersOrder {
  display: contents;
  padding: 5vh;
  margin: 2vh;
}
