.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.description {
  background: rgba(0, 0, 0, 0.433);
  border-radius: 10px;
  /* color: white; */
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
  text-align: center;
}
.description h1 {
  font-size: 5vh;
  margin: 6vh;
}
.description p {
  margin: 8vh;
  font-size: 3vh;
}

.button {
  border-radius: 10px;
  width: 20vh;
  height: 10vh;
}
